
@media (max-width:414px){
		
		.mainChart{
			
			display: none;
			
		}
		
		.coinGeckoChart{
			
			margin-top: 10vh;
			
		}
		
		.img{
			
			display: none;
			
		}

	
		.menuIcon{
		
			float: right;
			
		}
		
		.breadCrumbs{
			
			display: none;
			
		}
		
		.navBar{
			
			width: 100%;
			
		}
		
		.titlePadding{
			
			    padding-left: 20px;			
			
		}
		
			.card{
		
		height: max-content;
		marginTop: 15vh;
		margin: 6px;
		margin-top: 5vh;
		
	}
		
			.imageIcon{
		
		width: 30px;
		height: 30px;
		margin-top: 5px;
		    margin-right: 2vw;
	}
	
		.table{
		
		display: none;
		
	}
	
		.tableSmall{
			
		margin-top: 15vh;	
			
		}

	.socialList{
		
		position: relative;

		
	}
	
	.titleBox{
		
		display: flex;
		flex-direction: row;
		
	}
	
	.breadCrumbsBox{
		
	width: auto;
    position: relative;
    margin-left: 27vw;
		
	}
	
	.icon{
		
		margin-bottom: 5vh;
		position: relative;
		
	}
	
	.footer{
		
		margin-top: 15vh;
		align-items: center;	
		
	}
	
	.coinGecko{
			
			margin-top: 5vh;
			margin-left: 2vw;	
			
		}
		
	.listLink{
		
		margin-left: 15vw;
		
	}

	.contactForm{
		
		margin-left: 15vw;
		
	}	
	
	.copyRight{
		
		margin-left: 15vw;
		
	}
	
	.carousel{
		
		position: relative;
		float: left;
		
	}
	
			.socialList{
		
	position: relative;
    margin-bottom: 5vh;

		
	}
	
}



@media (min-width: 415px)  { 

		.mainChart{
			
			margin-top: 10vh;			
			
		}
		
		.coinGeckoChart{
			
			margin-top: 10vh;
			
		}
	
		.menuIcon{
		
			display: none;
			
		}
		
		.breadCrumbs{
			
			display: flex;
			fontSize: 10px;
			float: right;
			marginLeft: 2vw;
			
		}
		
		.navBar{
			
			width: 100%;
			
		}

		.coinGecko{
			
			margin-top: 5vh;
				
			
		}	

		.titlePadding{
			
		margin-right: 62vw;			
			
		}
		
			.card{
		
		height: 35vh;
		marginTop: 15vh;
		margin: 6px;
		margin-top: 5vh;
		
	}
		
		.imageIcon{
		
		width: 30px;
		height: 30px;
		margin-top: 5px;
		    margin-right: 2vw;
	}
	
		.table{
		
		margin-top: 15vh;
		
	}
	
		.tableSmall{
			
		display: none;	
			
		}
	
		.socialList{
		
    position: relative;
    margin-bottom: 5vh;
    align-self: center;
    width: max-content;
    margin-left: 40vw;
		
	}

		.titleBox{
		
		display: flex;
		flex-direction: row;
		
	}
	
		.icon{
		
		
	}
	
		.breadCrumbsBox{
		
	width: auto;
    position: relative;
    margin-left: 27vw;
		
	}

		.footer{
		
		margin-top: 15vw;
		align-items: center;
		font-size: 2vw;
		
	}	

		.listLink{
		
		position: relative;
    text-align: center;
	display: flex;
	flex-direction: row;
		
	}

		.contactForm{
		
		width: max-content;
		margin-left: 35vw;
		margin-bottom: 5vh;
		
	}	
	
		.copyRight{
		
		position: relative;
		margin-top: 5vh;
		text-align: center;
		
	}
	
 }
